.git
.DS_Store
**/.DS_Store
**/.venv
**/node_modules
**/dist
**/.pytest_cache
**/__pycache__
**/.mypy_cache
**/.ruff_cache
**/.cache
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/install-state.gz
**/.pnp.cjs
**/.pnp.loader.mjs
frontend/dist
wt-backend/.venv
